<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.car.dao.BusCarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wk.car.pojo.BusCar">
        <id column="carnumber" property="carnumber" />
        <result column="cartype" property="cartype" />
        <result column="color" property="color" />
        <result column="price" property="price" />
        <result column="rentprice" property="rentprice" />
        <result column="deposit" property="deposit" />
        <result column="isrenting" property="isrenting" />
        <result column="description" property="description" />
        <result column="carimg" property="carimg" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        carnumber, cartype, color, price, rentprice, deposit, isrenting, description, carimg, createtime
    </sql>
    <select id="queryAllCar" resultType="com.wk.car.pojo.BusCar">
        select
        <include refid="Base_Column_List"/>
        from bus_car
        <where>
            <if test="carnumber!=null and carnumber!=''">
                <bind name="carnumber" value=" '%' + carnumber + '%' "/>
                and carnumber like #{carnumber}
            </if>
            <if test="cartype!=null and cartype!=''">
                <bind name="cartype" value=" '%' + cartype + '%' "/>
                and cartype like #{cartype}
            </if>
            <if test="color!=null and color!=''">
                <bind name="color" value=" '%' + color + '%' "/>
                and color like #{color}
            </if>
            <if test="description!=null and description!=''">
                <bind name="description" value=" '%' + description + '%' "/>
                and description like #{description}
            </if>
            <if test="isrenting!=null">
                and isrenting =#{isrenting}
            </if>
        </where>
    </select>

</mapper>
