<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.car.dao.BusCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wk.car.pojo.BusCustomer">
        <id column="identity" property="identity" />
        <result column="custname" property="custname" />
        <result column="sex" property="sex" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="career" property="career" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        identity, custname, sex, address, phone, career, createtime
    </sql>

</mapper>
