<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.car.dao.BusCarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wk.car.pojo.BusCar">
        <id column="carnumber" property="carnumber" />
        <result column="cartype" property="cartype" />
        <result column="color" property="color" />
        <result column="price" property="price" />
        <result column="rentprice" property="rentprice" />
        <result column="deposit" property="deposit" />
        <result column="isrenting" property="isrenting" />
        <result column="description" property="description" />
        <result column="carimg" property="carimg" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        carnumber, cartype, color, price, rentprice, deposit, isrenting, description, carimg, createtime
    </sql>

</mapper>
