<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.car.dao.BusRentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wk.car.pojo.BusRent">
        <id column="rentid" property="rentid" />
        <result column="price" property="price" />
        <result column="begindate" property="begindate" />
        <result column="returndate" property="returndate" />
        <result column="rentflag" property="rentflag" />
        <result column="identity" property="identity" />
        <result column="carnumber" property="carnumber" />
        <result column="opername" property="opername" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rentid, price, begindate, returndate, rentflag, identity, carnumber, opername, createtime
    </sql>
    <select id="queryAllRent" resultType="com.wk.car.pojo.BusRent">
        select
        <include refid="Base_Column_List"/>
        from bus_rent
        <where>
            <if test="carnumber!=null and carnumber!=''">
                <bind name="carnumber" value=" '%' + carnumber + '%' "/>
                and carnumber like #{carnumber}
            </if>
            <if test="identity!=null and identity!=''">
                <bind name="identity" value=" '%' + identity + '%' "/>
                and identity like #{identity}
            </if>
            <if test="rentid!=null and rentid!=''">
                <bind name="rentid" value=" '%' + rentid + '%' "/>
                and rentid like #{rentid}
            </if>
            <if test="startTime!=null">
                and createtime >=#{startTime}
            </if>
            <if test="endTime!=null">
                <!-- and logintime &lt; = #{endTime} -->
                and createtime  <![CDATA[<=]]> #{endTime}
            </if>
            <if test="rentflag!=null">
                and rentflag =#{rentflag}
            </if>
        </where>
        order by createtime desc
    </select>
    <select id="empAnnualSaleStat" resultType="com.wk.sys.pojo.Stat">
        SELECT
            opername NAME,
            sum( price ) VALUE
        FROM
            `bus_rent`
        WHERE
            YEAR ( createtime ) = #{year}
        GROUP BY
        opername
    </select>
    <select id="companyAnnualSaleStat" resultType="com.wk.sys.pojo.Stat">
        SELECT
        MONTH	( createtime ) time,
            concat( MONTH ( createtime ), '月' ) NAME,
            sum( price ) VALUE
        FROM
            bus_rent
        WHERE
            YEAR ( createtime ) = #{year}
        GROUP BY NAME
        ORDER BY time
    </select>

</mapper>
