<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.sys.dao.SysLogLoginMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wk.sys.pojo.SysLogLogin">
        <id column="id" property="id" />
        <result column="loginname" property="loginname" />
        <result column="loginip" property="loginip" />
        <result column="logintime" property="logintime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, loginname, loginip, logintime
    </sql>
    <select id="queryAllLogInfo" resultType="com.wk.sys.pojo.SysLogLogin">
        select
        <include refid="Base_Column_List"/>
        from sys_log_login
        <where>
            <if test="loginname!=null and loginname!=''">
                <bind name="loginname" value=" '%' + loginname + '%' "/>
                and loginname like #{loginname}
            </if>
            <if test="loginip!=null and loginip!=''">
                <bind name="loginip" value=" '%' + loginip + '%' "/>
                and loginip like #{loginip}
            </if>

            <if test="startTime!=null">
                and logintime >=#{startTime}
            </if>
            <if test="endTime!=null">
                <!-- and logintime &lt; = #{endTime} -->
                and logintime  <![CDATA[<=]]> #{endTime}
            </if>

        </where>
        order by logintime desc
    </select>

</mapper>
