<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.sys.dao.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wk.sys.pojo.SysMenu">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="title" property="title" />
        <result column="href" property="href" />
        <result column="spread" property="spread" />
        <result column="target" property="target" />
        <result column="icon" property="icon" />
        <result column="available" property="available" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, title, href, spread, target, icon, available
    </sql>
    <select id="queryMenuList" resultType="com.wk.sys.pojo.SysMenu" parameterType="com.wk.sys.pojo.SysMenu">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
        <where>
            <if test="title!=null and title!=''">
                <bind name="title" value=" '%' + title + '%' "/>
                and title like #{title}
            </if>
            <if test="available!=null and available!=''">
                and available = #{available}
            </if>
            <if test="id!=null and id!=''">
                and (id = #{id} or pid = #{id})
            </if>
        </where>
    </select>
    <select id="queryMenuByPid" resultType="java.lang.Integer">
        select count(1) from sys_menu where pid = #{id}
    </select>
    <select id="queryMenuByRoleid" resultType="com.wk.sys.pojo.SysMenu">
        SELECT
            m.*
        FROM
            sys_menu m
            RIGHT JOIN sys_role_menu rm ON rm.mid = m.id
        WHERE
            rm.rid = #{roleid}
            AND m.available = #{available}
    </select>
    <select id="queryMenuByUid" resultType="com.wk.sys.pojo.SysMenu">
        SELECT
            sm.*
        FROM
            sys_menu sm,
            sys_role_menu srm,
            sys_role_user sru
        WHERE
            srm.mid = sm.id
            AND sru.rid = srm.rid
            AND sru.uid = #{userId}
            AND sm.available = #{available}
    </select>

</mapper>
