<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wk.sys.dao.SysRoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wk.sys.pojo.SysRoleMenu">
        <id column="rid" property="rid" />
        <result column="mid" property="mid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rid, mid
    </sql>
    <insert id="batchInsert">
        insert into sys_role_menu(rid,mid) values
        <foreach collection="ids" item="mid" index="index" separator="," >
            (#{roleid,jdbcType=INTEGER},#{mid,jdbcType=INTEGER})
        </foreach>
    </insert>

</mapper>
